<img  class="bg" src="{{imgUrl}}" alt="when image is broken link show me this text" title="Text will show up on hover">

<div class="left"  > 
    <form class="p.ex1" >
        <label for="name">First date</label>
        <div class=box1>
            <input type="date"  name="firstdate" [(ngModel)]="data.firstDate" placeholder="Enter the first date" autofocus class="resizedTextbox">
        </div>
        <label for="name">Second date</label>
        <div class=box2>
            <input type="date" name="seconddate" [(ngModel)]="data.secondDate" placeholder="Enter the second date" class="resizedTextbox">
        </div>

        <div>
            <button (click)="datediff(data.firstDate, data.secondDate)">Calculate</button>
        </div>
        <label for="name">The difference</label>
        <div class=box2>
            <input type="text" placeholder="The difference " [value]="result" class="resizedTextbox">
        </div>
    </form>
</div>