.resizedTextbox {
    width: 150px;
    height: 10px;
    padding: 10px
  }
  .box1 {
    display: block;
    padding: 10px;
    margin-bottom: 10px;

}

.box2 {
    display: block;
    padding: 10px;
}

div.wrapper {
    color: rgb(30, 163, 52);
    background-position: center;
    font-family: 'Arial Narrow',monospace;
    height: 350px ;
  }