<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Pset2 :: Erlkönig</title>
<link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>

<body class="basic-page">
    <br><h1>Erlkönig</h1><br>
    <div class="jumbotron jumbotron bg-cover mb-0">
      <div class="overlay"></div>
      <div class="container">
        <center>
          <table border="0" width="765px" align="center"> 
              <tr><td align="left">
                  <div class="left"> 
                      Wer reitet so spät durch Nacht und Wind?</br>
                      Es ist der Vater mit seinem Kind;</br>
                      Er hat den Knaben wohl in dem Arm,</br>
                      Er fasst ihn sicher, er hält ihn warm.</br>
                    </br>
                      Mein Sohn, was birgst du so bang dein Gesicht? –</br>
                      Siehst, Vater, du den Erlkönig nicht?</br>
                      Den Erlenkönig mit Kron’ und Schweif? –</br>
                      Mein Sohn, es ist ein Nebelstreif. –</br>
                    </br>
                      „Du liebes Kind, komm, geh mit mir!</br>
                      Gar schöne Spiele spiel’ ich mit dir;</br>
                      Manch’ bunte Blumen sind an dem Strand,</br>
                      Meine Mutter hat manch gülden Gewand.“ –</br>
                    </br>
                      Mein Vater, mein Vater, und hörest du nicht,</br>
                      Was Erlenkönig mir leise verspricht? –</br>
                      Sei ruhig, bleibe ruhig, mein Kind;</br>
                      In dürren Blättern säuselt der Wind. –</br>
                    </br>
                    </div>

                    <td width="40px"> </td>
                    
                    <td align="right">
                    <div class="right"> 
                        „Willst, feiner Knabe, du mit mir gehn?</br>
                        Meine Töchter sollen dich warten schön;</br>
                        Meine Töchter führen den nächtlichen Reihn</br>
                        Und wiegen und tanzen und singen dich ein.“ –</br>
                      </br>
                        
                        Mein Vater, mein Vater, und siehst du nicht dort</br>
                        Erlkönigs Töchter am düstern Ort? –</br>
                        Mein Sohn, mein Sohn, ich seh’ es genau:</br>
                        Es scheinen die alten Weiden so grau. –</br>
                      </br>
                        
                        „Ich liebe dich, mich reizt deine schöne Gestalt;</br>
                        Und bist du nicht willig, so brauch’ ich Gewalt.“ –</br>
                        Mein Vater, mein Vater, jetzt faßt er mich an!</br>
                        Erlkönig hat mir ein Leids getan! –</br>
                      </br>
                        
                        Dem Vater grauset’s; er reitet geschwind,</br>
                        Er hält in Armen das ächzende Kind,</br>
                        Erreicht den Hof mit Mühe und Not;</br>
                        In seinen Armen das Kind war tot.</br>
                      </br>
                      </div> 
                    </tr>
                  </table>
                </center>

      </div>
    </div>
  
    <div class="container">
      <div class="row justify-content-center">
      </div>
    </div>
  
  </body>

</html>