.resizedTextbox {
    width: 150px;
    height: 10px;
    padding: 10px
  }
  .box1 {
    display: block;
    padding: 10px;
    margin-bottom: 10px;

}

.box2 {
    display: block;
    padding: 10px;
}

.left{
    float:center;
    width:-50px;
    margin:0 auto;
}
button{
    padding: 5px;
}
p.ex1 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thin;
}
