<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<div class="row">
 
  <div class="left">
    
  		<h1 class="left-text">Austrian States</h1>
  		<ul>
  			<li>Nieder Östereich</li>
  			<li>Wien</li>
  			<li>OberÖstereich</li>
        <li>Salzburg</li>
        <li class = "active">Burgenland </li>
  			<li>Tirol</li>
  			<li>Voralburg</li>
  			<li>Steirmark</li>
  			<li>Kärnten</li>
  		</ul>
  </div>
  
  <div class="right">
    
      <!-- <div class="vl" ></div> -->

    <h1 class="right-text">Burgenland</h1>
    <div class="leftassigned">

      <h1 class="top-left">Geography</h1>
      <p class = "text">Burgenland is the seventh largest of Austria's nine states, or Bundesländer, at 3,962 km2 (1,530 sq mi). The highest
         point in the province is on the Geschriebenstein, whose summit is 884 metres (2,900 ft) above sea level, but the highest 
         point in Burgenland itself is 879 metres above sea level; the lowest point (which is also the lowest point of Austria) at
         114 metres (374 ft), is in the municipal area of Apetlon.
    
        </p>
        <p class = "text">
        Burgenland borders the Austrian state of Styria to the southwest,and the state of Lower Austria to the northwest. To 
        the east it borders Hungary. In the extreme north and south there are short borders with Slovakia and Slovenia respectively.
    </p>
        <p class = "text">
        Burgenland and Hungary share the Neusiedler See, a lake known for its reeds and shallowness, as well as its mild
        climate throughout the year. The Neusiedler See is Austria's largest lake, and is a great tourist attraction, bringing 
        ornithologists, sailors, and wind and kite surfers into the region north of the lake.
      </p> 
      <hr>
     

      <div class="imgs">
          <div class="img1">
              <img class="images" src="../assets/Burgenland1.jpg"/>
              <div class="centerTop"><span class="color">Schloss Esterhnsy</span></div>
          </div>
          <div class="img2">
              <img class="images" src="../assets/Burgenland2.jpg"/>
              <div class="centerTop"><span class="color">Neusiedler See</span></div>
          </div>
          <div class="img3">
              <img class="images" src="../assets/Burgenland3.jpg"/>
              <div class="centerTop"><span class="color">Seewinkel</span></div>
          </div>
          <div class="img4">
              <img class="images" src="../assets/Burgenland4.jpg"/>
              <div class="centerTop"><span class="color">Weingarten</span></div>
          </div>
        </div>
      </div>
    </div>
</div>
