<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Pset3 :: österreich</title>
<link rel="stylesheet" href="./page3.component.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>

<body class="basic-page">

<center>
<div class="container">        
    
    <div class="row">        
      <div class="col-sm-2">
        <div class="vertical-menu">
          <h5>Austrian States</h5>
          <a href="#">Niederösterreich</a>
          <a href="#">Wien</a>
          <a href="#">Oberösterreich</a>
          <a href="#" class="focus">Burgenland</a>
          <a href="#">Salzburg</a>
          <a href="#">Kärnten</a>
          <a href="#">Steirmark</a>
          <a href="#">Tirol</a>
          <a href="#">Vorarlberg</a>
        </div>

      </div>
      <div class="col-sm-10">
      	<div class="main-container">
        	<h4>Burgenland</h4>
                     
        <h5>Geography</h5>
         
        Burgenland is the seventh largest of Austria's nine states, or Bundesländer, at 3,962 km2 (1,530 sq mi). The highest point in the province is on the Geschriebenstein, whose summit is 884 metres (2,900 ft) above sea 	 #
        level, but the highest point in Burgenland itself is 879 metres above sea level; the lowest point (which is also the lowest point of Austria) at 114 metres (374 ft), is in the municipal area of Apetlon.<br>
        <br>
        
        
        Burgenland borders the Austrian state of Styria to the southwest, and the state of Lower Austria to the northwest. To the east it borders Hungary. In the extreme north and south there are short borders with Slovakia
        and Slovenia respectively.
        <br>
        <br>
        
        Burgenland and Hungary share the Neusiedler See, a lake known for its reeds and shallowness, as well as its mild climate throughout the year. The Neusiedler See is Austria's largest lake, and is a great tourist  
        attraction, bringing ornithologists, sailors, and wind and kite surfers into the region north of the lake.

<br>
<br>

<div class="thin_hr"></div>

<br>


        <div class="row">
                    
        <div class="col">
          <img src="img/Burgenland1.jpg" width="180" height="128" class="img1">
          <div class="centered">Schloss Esterhazy</div>
        </div>
        <div class="col">
          <img src="img/Burgenland2.jpg" width="180" height="128" class="img1">
          <div class="centered">Neusiedler See</div>
        </div>
        <div class="col">
          <img src="img/Burgenland3.jpg" width="180" height="128" class="img1">
          <div class="centered">Seewinkel</div>
        </div>
        <div class="col">
          <img src="img/Burgenland4.jpg" width="180" height="128" class="img1">
          <div class="centered">Weingarten</div>
        </div>
        

        </div>


        </div>
        

        
      </div>     
    </div>

</div>
</center>

 </body>

</html>